{% extends 'base.html' %}

{% block title %}
Welcome to contact page
{% endblock title %}


{% block container %}
<table style="float: left; margin: 0 1em 1em 0">
    <tr>
        <td>

            <!-- element that will contain the calendar -->
            <div id="calendar-container"></div>

            <!-- here we will display selection information -->
            <div id="calendar-info" style="text-align: center; margin-top: 0.3em"></div>

        </td>
    </tr>
</table>
{% endblock container %}